# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Testing
.pytest_cache/
.hypothesis/
.coverage
htmlcov/
coverage.xml

# Packaging
*.whl

# Docker
*.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
